@font-face {
    font-family: 'comfortaa';
    src: url('../fonts/comfortaa/comfortaa-regular-webfont.eot');
    src: url('../fonts/comfortaa/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa/comfortaa-regular-webfont.woff') format('woff'),
         url('../fonts/comfortaa/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa';
    src: url('../fonts/comfortaa/comfortaa-light-webfont.eot');
    src: url('../fonts/comfortaa/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa/comfortaa-light-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa/comfortaa-light-webfont.woff') format('woff'),
         url('../fonts/comfortaa/comfortaa-light-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa/comfortaa-light-webfont.svg#comfortaalight') format('svg');
    font-weight: 300;
    font-style: normal;
}
